# Data Science Tools and Ecosystem #

### In this notebook, Data Science Tools and Ecosystem are summarized.

### some of the popular languages that data scientist use are:

1. Pyton
2. C++
3. javascript
4. R

### Some of the commonly used libraries used by Data Scientists include:

1. Numply
2. Pandas
3. Tensorflow
4. PyTorch

## objectives:

List popular languages for Data Science
- pyton
* C++
+ Javascript
- R

|Data sciences Tools |
|--------------------|
|Tableau |
| Apache Spark |
|Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Autor: 
Anielka Porras